.imageContainer {
    position: relative;
    background-image: url("../../../../resources/images/PP.jpg");
    background-size: contain;
    border-radius: 50%;
    width: 400px;
    height: 400px;

}


.infoBoxesContainer {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 26.5%;
}

.infoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 70px;
    max-height: 25px;
    border-radius: 10px 0px 10px 0px;
    font-size: 12px;
    padding: 7px;
    cursor: pointer;
}

.infoBox:not(:first-child) {
    margin-left: 30px;
}

