.imageContainer {
    //position: relative;
    background-image: url("../../../../resources/images/PP.jpg");
    background-size: contain;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: column-reverse;
}

.infoBoxesContainer {
    display: flex;
    justify-content: center;
    bottom: 0;
}

.arrow {
    max-width: 5rem;
    position: absolute;
    bottom: 15%;
    right: 20%;
    cursor: pointer;
}

.infoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 70px;
    max-height: 25px;
    border-radius: 10px 0px 10px 0px;
    font-size: 12px;
    padding: 7px 7px 7px 8px;
    cursor: pointer;
}

.infoBox:not(:first-child) {
    margin-left: 30px;
}
