.outerBorder {
   border: 1px solid black; 
   //border-radius: 3% 3% 3% 3%;
   height: 220px;
   width: 323px;
   position: relative;
   //background-color: rgb(190, 216, 216);
   margin: 10px 10px 10px 10px;

   
}


.topWindow { //gör genomskinlig m border så färgen är bakgrunden
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-bottom: 0px;
    
}

.circleBox {
    display: flex;
    margin-top: 3px;
}

.circle {
    border: 0.5px solid black;
    height: 13px;
    width: 13px;
    border-radius: 50% 50% 50% 50%;
    margin-left: 5px;
    background-color: #3a3939;
    
}

// make to scss variables in colors.module.scss

.ivis {
    background-color: #EEEDF4;
}

.inWinetation {
    background-color: #EAE9E4;
}

.newsFlash {
    background-color: #425266;
}

.interactionDesign {
    background-color: #70A6C3;
}

.techPortfolio {
    background-color: #D3D9DF;
}



