body {
    font-size: 20px;
    color: #707070
}

.heading {
    font-size: 50px;
    color:#491A12;
}


.flexContainer {
    display: flex;
    height: 100vh;
    background-color: #D3D9DF;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

.toggleContainer {
    position: absolute;
    top: 0px;
    right: 30px;
}

.halfContainer {
    display: flex;
    width: 49vw;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    
}

.textContainer {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 15vw;


    :not(:nth-child(1):nth-child(2):nth-child(4)) {
        margin-bottom: 20px;
    }
  
   
}


.arrow {
    max-width: 60px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
}
