.flexContainer {    
    display: flex;
    height: 100vh;
    justify-content: center;

}

.projectCardContainer {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    //border: 2px solid blue;
    width: 72vw;

}